	

body { padding-top: 50px; }


.jumbotron {
  padding-top: 10px;
  min-height: 500px;
  margin-bottom: 0;
  background-image: url('http://s22.postimg.org/klgd0dvk1/heart4.png');
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.jumbotron label {
  color: Black;
}

h2 {
  margin-bottom: 1.5em;
}


.jumbotron h1 {
  color: Black;
}


.jumbotron label {
  color: black;
}

.jumbotron img {
  margin-top: 0px;
}

h3 {
  color: rgb(255,0,0);
}

h2 {
  margin-bottom: 1.5em;
}

.form-inline input[name='email'] {
  width: 80%;
}

.fixed-image-height {
  height: 130px;
}


a:hover { 
    color: red;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #;}
ul li:hover ul {display: block;}
ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}
ul li ul li { 
    background: #; 
    display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #;}



#video-title {
   background-color: rgba(32, 35, 41, 0.9);
  color: #ddd;
  padding-bottom: 30px;
}

#social-buttons {
  margin-top: 50px;
}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: White;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: White;
}

